.headItems {
  margin-left: 20mm;
  font-size: large;
  margin-top: 3px;
}
.headItemstwo {
  margin-left: 6mm;
  font-size: medium;
}
.headItemsThree {
  margin-left: 16mm;
  font-size: medium;
}
.headItemsFour {
  margin-left: 12mm;
  font-size: medium;
}
.bodydiv {
  margin-left: 4px;
}
.containdiv {
  line-height: 100%;
}
.containdivTop {
  line-height: 120%;
  margin-top: 5px;
  text-align: center;
}
.table {
  line-height: 90%;
  border-collapse: separate;
  border-spacing: 5px 5px;
}
.footerDiv {
  text-align: center;
  font-size: small;
}
