<div class="container">
  <div class="row">
    <div class="heading">
      INDOOR
      <mat-icon (click)="addTab('indoor')">add_circle_outline</mat-icon>
    </div>
    <ul>
      <li
        *ngFor="let option of mainService.parentTab.indoor; let index = index"
      >
        <app-table-card
          [number]="option"
          [space]="'indoor'"
          (clossing)="removeTab('indoor', $event)"
        ></app-table-card>
      </li>
    </ul>
  </div>
  <hr />
  <div class="row">
    <div class="heading">
      OUTDOOR
      <mat-icon (click)="addTab('outdoor')">add_circle_outline</mat-icon>
    </div>
    <ul>
      <li
        *ngFor="let option of mainService.parentTab.outdoor; let index = index"
      >
        <app-table-card
          [number]="option"
          [space]="'outdoor'"
          (clossing)="removeTab('outdoor', $event)"
        ></app-table-card>
      </li>
    </ul>
  </div>
  <hr />
  <div class="row">
    <div class="heading">
      CUSTOM
      <mat-icon (click)="addTab('custom')">add_circle_outline</mat-icon>
    </div>
    <ul>
      <li
        *ngFor="let option of mainService.parentTab.custom; let index = index"
      >
        <app-table-card
          [number]="option"
          [space]="'custom'"
          (clossing)="removeTab('custom', $event)"
        ></app-table-card>
      </li>
    </ul>
  </div>
  <hr />
  <div class="row">
    <div class="heading">
      PICK UP
      <mat-icon (click)="addTab('pickup')">add_circle_outline</mat-icon>
    </div>
    <ul>
      <li
        *ngFor="let option of mainService.parentTab.pickup; let index = index"
      >
        <app-table-card
          [number]="option"
          [space]="'pickup'"
          (clossing)="removeTab('pickup', $event)"
        ></app-table-card>
      </li>
    </ul>
  </div>
</div>
