:host {
  display: block;
  left: 0;
  width: 2.5cm;
  height: 2.5cm;
  background-color: #eaeaea;
  border-radius: 2mm;
}
.div {
  margin-left: 10px;
}
.rowone {
  margin-left: 0px;
}
.rowtwo {
  margin-top: 5px;
  margin-left: 0px;
}
.close_button {
  font-size: medium;
  color: darkred;
  margin-left: 68px;
}
